<!-- dwitter/templates/registration/login.html -->

{% extends 'base.html' %}

{% block content %}

<div class="column is-3">
    
    <div class="block">
        <div class="block">
            <h2 class="title is-2">Login</h2>
        </div>
        <div class="block">
            <form method="post" class="block">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Login" >
            </form>
        </div>
    </div>

</div>

{% endblock content %}