<!--dwitter/templates/registration/password_change_form.html-->

{% extends 'base.html' %}

{% block content %}

<div class="column is-6">

    <div class="block">
        <h2 class="title is-2">Change password</h2>
    </div>

    <div class="block">
        <form method="post" class="box">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change">
        </form>
    </div>

    <div class="block">
        <a href="{% url 'dwitter:dashboard' %}">Back to dashboard</a>
    </div>

</div>

{% endblock content %}